<div class="login-container">
  <div class="login-card">
    <div class="header">
      <div class="logo-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
            <line x1="22" y1="2" x2="11" y2="13"></line>
            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
      </div>
      <h1 class="title">EasyTrip</h1>
      <p class="subtitle">
        Comece a planejar sua próxima aventura em grupo.
      </p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-body">
        
        @if (errorMessage()) {
          <div class="validation-error">
            {{ errorMessage() }}
          </div>
        }
        @if (successMessage()) {
          <div class="success-message">
            {{ successMessage() }}
          </div>
        }

        <div class="form-field">
          <label for="name" class="label">Nome Completo</label>
          <input
            type="text"
            id="name"
            name="name"
            class="input-field"
            placeholder="Seu nome"
            formControlName="name"
          />
          @if (name?.invalid && (name?.dirty || name?.touched)) {
            <div class="validation-error">
              @if (name?.errors?.['required']) {
                <span>Nome é obrigatório.</span>
              }
            </div>
          }
        </div>

        <div class="form-field">
          <label for="email" class="label">Endereço de e-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            class="input-field"
            placeholder="voce@exemplo.com"
            formControlName="email"
          />
          @if (email?.invalid && (email?.dirty || email?.touched)) {
            <div class="validation-error">
              @if (email?.errors?.['required']) {
                <span>Email é obrigatório.</span>
              }
              @if (email?.errors?.['email']) {
                <span>Formato de email inválido.</span>
              }
            </div>
          }
        </div>

        <div class="form-field">
          <label for="password" class="label">Senha</label>
          <input
            type="password"
            id="password"
            name="password"
            class="input-field"
            placeholder="********"
            formControlName="password"
          />
          @if (password?.invalid && (password?.dirty || password?.touched)) {
            <div class="validation-error">
              @if (password?.errors?.['required']) {
                <span>Senha é obrigatória.</span>
              }
              @if (password?.errors?.['minlength']) {
                <span>Mínimo 6 caracteres.</span>
              }
            </div>
          }
        </div>

        <button type="submit" class="submit-button"[disabled]="isLoading()">
          @if (isLoading()) {
            <span>Cadastrando...</span>
          } @else {
            <span>Cadastrar</span>
          }
        </button>
      </div>
    </form>
    
    <div class="links">
        <p (click)="navigateToLogin()" > Já tem uma conta? Entrar </p>
    </div>
  </div>
</div>